// TODO:
// 1. to add grid for 0 matches 1 bracket
// 2. to add 'proper' styling for games and lines

.bracket {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $color-primary-05;
  width: 90%;
  height: 100%;
  margin: 0 auto;

  &__phase {
    &-date {
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      & h4 {
        align-self: baseline;
        font-weight: 200;
        font-size: 1.2rem;
        margin-bottom: -1rem;
      }
    }

    &--1 {
    }
    &--2 {
    }
    &--3 {
    }
    &--4 {
    }
  }

  &__match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    // position: relative;
    padding: 1rem;
    border: 1px solid rgba($color-text-light, 0.2);
    border-radius: 0.9rem;
    box-shadow: rgba(34, 66, 211, 0.35) 0 0 1.5rem;
    &:hover {
      cursor: pointer;
    }

    &-teams {
      display: flex;
      flex: 2;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 2rem;

      &--info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        & span:not(:first-child) {
          font-size: 1rem;
        }

        & span:nth-of-type(2) {
          align-self: center;
          border: 1px solid $color-text-light;
          padding: 0.2rem 0.4rem;
          border-radius: 0.3rem;
          background-color: $color-data-03;
        }

        & span:last-child {
          align-self: center;
        }
      }
    }

    &-score {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      font-size: 2.4rem;
    }
  }

  &__lines {
    position: relative;
  }

  &__line {
    position: absolute;
    left: 50%;
    // transform: translateX(-50%);
    z-index: 99;
  }
}

// .match {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
//   width: 200px;
//   margin: 10px 0;
//   position: relative;
// }

// .team {
//   width: 90px;
//   text-align: center;
//   padding: 5px;
//   border: 1px solid #ccc;
// }

// .bracket-line {
//   position: absolute;
//   left: 50%;
//   // transform: translateX(-50%);
// }
