* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: $font-stack-main;
  font-size: $font-standard;
  font-weight: 400;
  line-height: $line-height-standard;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: minmax(min-content, 7.2rem) 1fr minmax(min-content, 8rem);
  grid-template-columns: repeat(10, minmax(min-content, 14rem));
}

.main {
  grid-row: 2 / 3;
  grid-column: 1 /-1;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: repeat(8, auto);
}
