*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba($color-orange-dark, 0.4);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px; 9/16 == 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px; 8/16 == 50%;
  }

  // @include respond(phone) {
  //   font-size: 30%; // 1rem = 8px; 8/16 == 50%;
  // }
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px; 12/16 == 75%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $font-stack-main;
  font-size: $font-standard;
  font-weight: 400;
  line-height: $line-height-standard;
  background-color: rgba(0, 0, 0, 0.38);
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: minmax(min-content, 7.2rem) 1fr minmax(min-content, 8rem);
  grid-template-columns: repeat(10, minmax(min-content, 14rem));
}

.main {
  grid-row: 2 / 3;
  grid-column: 1 /-1;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: repeat(8, auto);
}

::selection {
  background-color: $color-orange-light;
  color: $color-white;
}
