@media only screen and (max-width: $bp-tablet) {
  .menu-icon {
    display: flex;
    z-index: 1000;
  }

  .navbar {
    &__links {
      display: none;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 999;
      gap: 8rem;
      justify-content: center;
    }
    &__link,
    &__link:link,
    &__link:active {
      font-size: $font-huge;
      text-transform: uppercase;
      font-family: $font-stack-headings;
      font-weight: 400;
      opacity: 0.8;
    }
  }

  .menu-toggle:checked + .menu-icon + .navbar__links {
    display: flex;
  }

  .menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 1rem;
  }

  .menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -1rem;
  }
}
