@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// FONT FAMILIES
$font-stack-main: 'Open Sans', sans-serif;
$font-stack-headings: 'Raleway', sans-serif;

// FONT SIZES
$font-small: 1.2rem;
$font-standard: 1.4rem;
$font-medium: 1.6rem;
$font-big: 2rem;
$font-huge: 3.6rem;

$line-height-standard: 2rem;
$line-height-medium: 2.3rem;
$line-height-heading: 4.3rem;

// COLORS
$color-background-primary: #f5f5f5;
$color-background-black: #000;

$color-text-primary: #86878b;
$color-text-white: #fff;
