// TODO:
// 1. to add grid for 0 matches 1 bracket
// --- trying with flex!!!
// 2. to add 'proper' styling for games and lines

.bracket {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $color-primary-05;
  width: 90%;
  height: 100%;
  margin: 0 auto;

  &__phase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &-date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      & h4 {
        align-self: baseline;
        font-weight: 200;
        font-size: 1.2rem;
        margin-bottom: -1rem;
      }

      &--1 {
      }
      &--2 {
      }
      &--3 {
      }
    }

    & h3 {
      border-bottom: 1px solid $color-text-light;
      padding-top: 1rem;
    }

    &--1 {
      gap: 2rem;
    }
    &--2 {
      // TODO: 1. get title to the top.2 add proper spacing to match the lines 3. Repeat to next phases
      gap: 22rem;
      align-self: baseline;
    }
    &--3 {
      align-self: baseline;
      gap: 20rem;

      & h3 {
        margin-bottom: 15rem;
      }
    }
    &--4 {
      align-self: baseline;
      gap: 55rem;

      &*h4 {
        padding-bottom: 1rem;
      }
    }
  }

  &__match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    // position: relative;
    padding: 1rem;
    border: 1px solid rgba($color-text-light, 0.2);
    border-radius: 0.9rem;
    box-shadow: rgba(34, 66, 211, 0.35) 0 0 1.5rem;
    z-index: 200;

    &:hover {
      cursor: pointer;
    }

    &-teams {
      display: flex;
      flex: 2;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 2rem;
      z-index: 60;

      &--info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        & span:not(:first-child) {
          font-size: 1rem;
        }

        & span:nth-of-type(2) {
          align-self: center;
          border: 1px solid $color-text-light;
          padding: 0.2rem 0.4rem;
          border-radius: 0.3rem;
          background-color: $color-data-03;
        }

        & span:last-child {
          align-self: center;
        }
      }
    }

    &-score {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      font-size: 2.4rem;
    }
  }

  &__lines {
  }

  &__line {
    position: absolute;
    z-index: 100;
  }
}
