.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 2rem;
  background-color: inherit;
  transition: all 0.2s ease-in-out;

  &__container {
    flex: 2;
    background-color: $color-primary-04;
  }

  &__list {
    width: 100%;
    max-width: 1200px;
    &-team {
      display: flex;
      flex: 1 1 calc(20% - 20rem);
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      // TODO: добави ховър ефект и бокс шадоу 2. добави стайлинг за другото.
      &-flag {
        width: 5rem;
        height: 5rem;
        // margin: 3rem auto;

        &--img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
          border: 2px solid $color-text-light;
          border-radius: 50%;
        }
      }
    }
  }

  &__players {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-dark-01;

    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-top: 1rem;
    }

    &-player {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 2.5rem;
      align-self: flex-start;
      padding-bottom: 1rem;

      &:first-child {
        width: 15rem;
        height: 15rem;
        margin: 1rem auto;
      }

      &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        border: 2px solid $color-text-light;
        border-radius: 50%;
      }
      &:nth-child(2) {
        border-bottom: 1px solid $color-text-light;
      }

      & p {
        flex: 1 1 calc(20% - 20rem);
        padding: 0.5rem 2rem;
      }

      & p:nth-child(2) {
        flex: 2 1 calc(20% - 20rem);
        margin-right: auto;
        text-align: left;
        flex-wrap: wrap;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-top: 2rem;
    }

    &-player {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 2.5rem;
      align-self: flex-start;

      & p:nth-child(2) {
        margin-right: auto;
        text-align: left;
      }
    }
  }
}
