.brand-bar {
  width: 1400px;
  height: 105px;
  filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.38));
  background-color: $color-white;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto;

  &__info {
    grid-column: 2 / 5;
    justify-self: center;
    align-self: center;

    &--heading {
      color: $color-grey-dark;
      line-height: $line-height-medium;
    }

    &--text {
      font-size: $font-standard;
      line-height: $line-height-standard;
      color: $color-text-primary;
      font-weight: 400;
      font-family: $font-stack-main;
      padding-right: 5rem;
    }
  }

  &__social {
    grid-column: 5 / -1;
    justify-self: start;
    align-self: center;
  }
}
