.features {
  background-color: $color-background-primary;
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  &__panel {
    grid-column: 1 / -1;

    &-1 {
      height: 59.6rem;
      display: grid;
      grid-template-columns:
        repeat(2, minmax(min-content, 14rem)) minmax(min-content, 67.5rem)
        auto minmax(min-content, 14rem);

      &-tabs {
        grid-column: 2 / 3;
        justify-self: start;
        align-self: center;
      }

      &-tab {
        width: 11.4rem;
        height: 11.4rem;
        font-size: $font-button;
        line-height: $line-height-standard;
        color: $color-white;
        font-weight: 700;
        font-family: $font-stack-main;
        background-color: $color-grey-dark;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $color-white;

        &--1 {
          background-color: $color-orange-dark;
        }
      }

      &-info {
        grid-column: 3 / 4;
        padding: 0 8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 6rem;
      }
      &-text {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        color: $color-text-primary;
      }

      &-heading {
        color: $color-black;
      }

      &-img-container {
        grid-column: 4 / 5;
        align-self: center;
      }
    }

    &-2 {
      background-color: $color-white;
      height: 59.6rem;
      display: grid;
      grid-template-columns:
        minmax(min-content, 14rem) auto
        auto minmax(min-content, 14rem);

      &-img-container {
        grid-column: 2 / 3;
        align-self: center;
        margin-left: -2rem;
      }

      &-info {
        grid-column: 3 / 4;
        align-self: center;
        padding: 0 3rem 0 13rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
      }

      &-heading {
        color: $color-grey-darkest;
      }

      &-divider {
        background-color: $color-orange-dark;
      }

      &-text {
        color: $color-text-primary;
      }

      &-card {
        color: $color-text-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;

        i {
          color: $color-orange-dark;
          padding: 1rem;
          border: 3px solid $color-orange-dark;
          border-radius: 50%;
          text-align: center;
          font-size: $font-medium;
        }

        &-title {
          font-size: $font-standard;
          line-height: $line-height-title-card;
          color: $color-grey-darkest;
          font-weight: 600;
          font-family: $font-stack-main;
          text-align: start;
          margin-bottom: 0.6rem;
        }
      }
    }

    &-3 {
      height: 59.6rem;
    }
  }
}
