.hero {
  background-color: $color-black;
  // max-height: 93.3rem;
  max-width: 140rem;
  height: 75.8rem;
  background-image: url('../../../../images/hero-section/background-image-large.png');
  background-origin: border-box;
  background-position: top;
  background-size: cover;
  opacity: 1.522;
  margin-top: -10.6rem;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto;

  &__left {
    grid-column: 2 / 6;
    align-self: center;
    justify-self: center;
    padding: 3rem 1rem 0 0.5rem;
    margin-top: 6rem;

    &--logo {
      max-width: 15rem;
      max-height: 6rem;
      padding-left: 0;
    }

    &--logo img {
      width: 100%;
    }

    &--heading {
      font-size: $font-huge;
      font-family: $font-stack-headings;
      line-height: $line-height-heading;
      color: $color-white;
      font-weight: 300;
      padding: 2rem 0 3rem 0;
    }

    &--divider {
      width: 8.4rem;
      height: 0.22rem;
      background-color: $color-white;
    }

    &--text {
      opacity: 0.8;
      font-size: $font-medium;
      line-height: $line-height-medium;
      color: $color-white;
      font-weight: 300;
      font-family: $font-stack-headings;
      padding: 3rem 2rem 4rem 0;
    }
  }

  &__right {
    grid-column: 7 / 10;
    place-self: center;
    border-top: 3px solid #f5f5f5;
    border-radius: 3px;
  }

  &__form {
    // max-width: 38rem;
    width: 38rem;
    // max-height: 37.2rem;
    height: 37.2rem;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;

    &--heading {
      font-size: $font-big;
      color: $color-grey-dark;
      font-weight: 700;
      font-family: $font-stack-main;
      padding: 2rem 6.4rem;
      background-color: $color-background-primary;

      & span {
        color: $color-orange-dark;
      }
    }
  }
}
