@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

:root {
  --background-color-main: #e8631c;
  --background-color-secondary: #303030;
  --text-color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 3rem;
  background-color: var(--background-color-main);
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.app-wrapper {
  margin: 0 auto;
  max-width: 144rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  font-size: 2.9rem;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  width: 32rem;
  height: 6.5rem;
  font-family: 'Oswald';
  text-align: center;
  cursor: pointer;
}

/* Header */

.header {
  background-color: #303030;
  display: flex;
  justify-content: space-around;
}

.header-ul {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.header-link:link,
.header-link:visited {
  color: inherit;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-size: 2.5rem;
}

.header-link:hover,
.header-link:active {
  cursor: pointer;
  color: inherit;
}

.header-icon {
  width: 3rem;
  height: 3rem;
  align-self: center;
  transition: all 0.2s;
}

.header-icon:hover {
  animation: shake 0.5s;
  animation-timing-function: ease-in-out;
}
/* Hero section */

.hero {
  background-image: url('../assets/images/hero.png');
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 8rem;
}

.hero-heading {
  font-family: 'Oswald';
  font-size: 12.5rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  margin-top: 20rem;
}

.hero-text {
  max-width: 64rem;
}

.hero-btn {
  color: var(--text-color);
  background-color: var(--background-color-main);
}

/* Product section */

.product {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product-title {
  font-size: 7.5rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Oswald';
  text-align: center;
  margin: 0;
}

.product-text {
  max-width: 88rem;
  font-size: 3rem;
  text-align: center;
}

.product-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.product-card {
  background-color: #303030;
  max-width: 37.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card--img {
  max-width: 37.4rem;
  height: 32.4rem;
}

.product-card--title {
}

/* animations */

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
