@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

/* GENERAL */

:root {
  --background-color-main: #e8631c;
  --background-color-secondary: #303030;
  --text-color: #fff;
  --body-background-dark: #2e1406;
  --body-background-light: #f4b18e;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 3rem;
  background-color: var(--body-background-dark);
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald';
  font-weight: 400;
}

h2 {
  font-size: 7.5rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.app-wrapper {
  margin: 0 auto;
  max-width: 144rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  font-size: 2.9rem;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  width: 32rem;
  height: 6.5rem;
  font-family: 'Oswald';
  text-align: center;
  cursor: pointer;
}

/* HEADER */

.header {
  background-color: #303030;
  display: flex;
  justify-content: space-around;
}

.header-ul {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.header-link:link,
.header-link:visited {
  color: inherit;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-size: 2.5rem;
}

.header-link:hover,
.header-link:active {
  cursor: pointer;
  color: inherit;
}

.header-icon {
  width: 3rem;
  height: 3rem;
  align-self: center;
  transition: all 0.2s;
}

.header-icon:hover {
  animation: shake 0.5s;
  animation-timing-function: ease-in-out;
}
/* HERO section */

.hero {
  background-image: url('../assets/images/hero.png');
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 8rem;
}

.hero-heading {
  font-size: 12.5rem;
  line-height: 1;
  margin: 0;
  margin-top: 20rem;
}

.hero-text {
  max-width: 64rem;
}

.hero-btn {
  color: var(--text-color);
  background-color: var(--background-color-main);
}

/* PRODUCT section */

.product {
  background-color: var(--background-color-main);
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product-title {
}

.product-text {
  max-width: 88rem;
  font-size: 3rem;
  text-align: center;
}

.product-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.product-card {
  margin-top: 8rem;
  background-color: var(--background-color-secondary);
  max-width: 37.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card--img {
  max-width: 37.4rem;
  height: 32.4rem;
}

.product-card--title {
  margin: 0;
  margin-top: 4rem;
  font-size: 3.7rem;
  text-transform: uppercase;
  text-align: center;
}

.product-card--text {
  text-align: center;
  font-size: 2.2rem;
}

/* PROMO section */

.promo {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--background-color-secondary);
}

.promo-text {
  max-width: 88rem;
  font-size: 3rem;
  text-align: center;
}

.promo-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.promo-card {
  margin-top: 8rem;
  background-color: var(--background-color-main);
  max-width: 37.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.promo-card--icon {
  margin-top: 6.5rem;
}

.promo-card--title {
  font-size: 3.7rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}

.promo-card--text {
  text-align: center;
  font-size: 2.2rem;
}

.promo-btn {
  background-color: var(--background-color-secondary);
  color: var(--text-color);
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

/* ABOUT section */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--background-color-main);
  gap: 10rem;
}

.about-img {
  /* max-width: 72rem;
  max-height: 95rem; */
}

.about-info {
  /* max-width: 72rem; */
  /* max-height: 95rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-info--1 {
  padding-right: 8rem;
}
.about-info--2 {
  padding-left: 8rem;
}

.about-info--title {
  align-self: flex-start;
}

.about-info--text {
  /* max-width: 54rem; */
  font-size: 30px;
}

.about-btn {
  align-self: flex-start;
  background-color: var(--background-color-secondary);
  color: var(--text-color);
}

/* animations */

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
